/* Reset */
* {
    padding: 0px;
    margin: 0px; 
    box-sizing: border-box;
}
body{
    font-family: Georgia, serif;
    color: black;
    background: #fff;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Padrões */

h1, h2, h3, h4, h5, h6, button, a{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

button, a {
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.125em;
}
h5 {
    font-size: 0.875em;
}

button {
    padding: 10px 20px;
    background: none;
    border: 4px solid #FEC63E;
    color: #FEC63E;
}

p {
    font-size: 0.875em;
    font-weight: 1.4em;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    line-height: 1.4em; 
}
/************************************** PÁGINA INDEX **************************************/
/* Header */

.menu {
    background: #FEC63E;
    padding: 9px;
    
}

.menu-logo {
    flex-grow: 1;
    justify-content: flex-start;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.menu-nav ul li a {
	color: black;
    font-size: 0.875em;
    padding: 0 20px;
}

/* Header responsividade mobile */
@media (max-width: 739px) {
	.menu {
		flex-direction: column;
	}
	.menu-nav {
        margin-top: 0;
        align-self: center;
    }
    .menu-nav ul {
        padding: 0;
    }
    .menu-nav ul li a:first-child{
        padding-left: 0;
    }
}

/* Página inicial intro */

.inicial-intro {
    background: url(../fotos/mesa-trabalho.jpg) 0% 50%/cover no-repeat;
    padding: 80px 0 50px 0;
    text-align: center;
    color: #fff;
}

.inicial-quote {
    max-width: 300px;
    line-height: 1.4em;
    margin: 0 auto;
}

/* Separador */
.inicial-quote::before {
   content: '';
   display: block;
   width: 60px;
   height: 3px;
   background: #fff;
   margin: 14px auto 12px auto;
}

/* Separador */
.inicial-quote::after {
   content: '';
   display: block;
   width: 60px;
   height: 3px;
   background: #fff;
   margin: 14px auto;
}

.inicial-intro button {
   margin: 14px auto;
}

/* Intro responsividade mobile */
@media (max-width: 739px) {
	.inicial-intro {
		padding: 60px 0 30px 0;
	}
}

/* Produtos */

.inicial-produtos {
   padding: 60px 0;
   text-align: center;
}

/* Separador */
.inicial-produtos h3::after {
   content: '';
   display: block;
   width: 60px;
   height: 3px;
   background: black;
   margin: 12px auto;
}

.inicial-produtos ul {
    justify-content: center;
}

.inicial-produtos ul li {
    width: 300px;
    margin: 20px 10px;
}

.inicial-produtos-icone {
   background: black;
   height: 200px;
   width: 280px;
   display: flex;
   align-items: center;
}
 
.inicial-produtos-icone img{
   margin: 0 auto;
}

.inicial-produtos-info {
   background: #FEC63E;
   height: 120px;
   padding: 15px 20px;
}

.inicial-produtos-info h4 {
    color: black;
}

/* Separador */
.inicial-produtos-info h4::after{
   content: '';
   display: block;
   width: 60px;
   height: 3px;
   background: black;
   margin: 5px auto 10px auto;
}

.inicial-produtos-info p {
   max-width: 260px;
   max-height: 34px;
   overflow: hidden;
}

.inicial-produtos p {
   margin-bottom: 15px;
}

/* Portifolio */

.inicial-portifolio {
   padding: 60px 0;
   text-align: center;
   background: black;
   color: #FEC63E;
}

.inicial-portifolio li {
    max-height: 280px;
    overflow: hidden;
}

/* Separador */
.inicial-portifolio h3::after{
   content: '';
   display: block;
   width: 60px;
   height: 3px;
   background: #FEC63E;
   margin: 5px auto 10px auto;
}

.inicial-portifolio p {
    margin-top: 30px;
    margin-bottom: 15px;
}

.inicial-portifolio li {
   margin: 10px;
}

/* Contato responsividade tablet */
@media (min-width: 740px) and (max-width: 980px){
    .inicial-portifolio {
        
    }
    .inicial-portifolio div ul {
        flex-direction: column;
    }
}

/* Contato responsividade mobile */
@media (max-width:739px){
    .inicial-portifolio div ul {
        flex-direction: column;
    }
}

/* Qualidade */

.qualidade {
   padding: 60px 0;
   text-align: center;
}

/* Separador */
.qualidade h3::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: black;
    margin: 10px auto 10px auto;
}

.qualidade-logo img {
   margin: 30px auto;
}

.qualidade ul li {
   flex: 1;
   max-width: 240px;
   margin: 20px auto;
}

.qualidade ul li p{
    width: 240px;
    margin: 0 auto;
 }

.qualidade > p {
   margin-bottom: 15px;
}

/* Quote */

.quote {
    padding: 40px 0;
    background: url(../fotos/esporte-3.jpg) 0% 52%/cover no-repeat;
    color: #fff;
    text-align: center;
}

.quote-texto {
    max-width: 420px;
    margin: 0 auto;
}

/* Separador */
.quote-texto::before {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 12px auto;
}

/* Separador */
.quote-texto::after {
   content: '';
   display: block;
   width: 60px;
   height: 3px;
   background: #fff;
   margin: 12px auto;
}

.quote:last-child p {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
}

/* Footer */

.footer {
    background: black;
}

.footer-info{
    padding: 20px 10px;
    color: #fff;
}

.footer h4{
    color: #FEC63E;
}

.footer p {
    font-size: 0.875em;
    font-weight: 1.4em;
}

/* Separador */
.footer h4::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #FEC63E;
    margin: 5px auto 10px auto;
}

/* Separador */
.footer h4::after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #FEC63E;
    margin: 8px 0 15px 0;
}

.footer ul li {
    flex: 1;
    margin: 0 20px;
}

.footer ul li a{
   display: inline-block;
}

.footer-historia {
    max-width: 400px;
    align-self: flex-start;
}

.footer-social a{
    border: 3px solid #FEC63E;
    padding: 5px;
    margin-right: 10px;
}

.copyright {
    padding: 20px 10px;
    background: #FEC63E;
}

.copyright p{
    flex: 1;
}

/* Footer responsividade mobile */
@media (max-width: 739px) {
	.footer-info ul {
        flex-direction: column;
    }
    .footer-info ul li{
        flex-direction: column;
        margin: 10px 0;
    }
    
}

/***************************************** PÁGINA SOBRE **************************************/

/* Página Sobre intro */
.sobre-intro {
    background: url(../fotos/esporte-2.jpg) 0% 85%/cover no-repeat;
    padding: 40px 0;
    text-align: center;
    color: #fff;
}

/* Separador */
.sobre-intro h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 9px auto 14px auto;
}

/* Página Sobre informações */

.sobre-info {
    padding: 60px 0 20px 0;
}

.sobre-info ul {
    align-content: center;
}

.sobre-info ul li h3::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: black;
    margin: 9px 0 14px 0;
}

.sobre-info ul li:first-child{
    flex: 1;
    max-width: 480px;
    align-self: flex-start;
    margin-right: 80px;
}

.sobre-imagem{
    margin-top: 40px;
    max-height: 320px;
    overflow: hidden;
}

/* Sobre informações responsividade tablet */
@media (min-width: 740px) and (max-width: 980px){
    .sobre-info {
        padding: 20px;
    }
}

/* Sobre informações responsividade mobile */
@media (max-width:739px){
    .sobre-info {
        padding: 20px;
    }
    .sobre-info ul {
        flex-direction: column;
    }
    .sobre-info ul li{
        margin: 10px 0;
    }
}

/***************************************** PÁGINA PRODUTOS **************************************/

/* Intro */

.produtos-intro {
    background: url(../fotos/esporte-1.jpg) 0% 63%/cover no-repeat;
    padding: 40px 0;
    text-align: center;
    color: #fff;
}

/* Separador */
.produtos-intro h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 9px auto 14px auto;
}

/* Bicicletas */

.bicicletas {
    padding: 60px 0;
}

.bicicletas ul li ul li {
    margin: 10px 5px;
}

.bicicletas-titulo {
    flex: 1;
    max-width: 640px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.titulo-1 {
    background: url(../fotos/passeio-1.jpg) 0% 63%/cover no-repeat;
}

.titulo-2 {
    background: url(../fotos/esporte-4.jpg) 0% 63%/cover no-repeat;
}

.titulo-3 {
    background: url(../fotos/retro-2.jpg) 0% 63%/cover no-repeat;
}

/* Separador */
.bicicletas-titulo h2::after, .bicicletas-titulo h2::before {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin: 10px auto;
}

.bicicletas-icone {
    flex: 1;
    background: black;
    max-width: 280px;
    height: 280px;
    display: flex;
    align-items: center;
}

.bicicletas-icone img{
    margin: 0 auto;
}

.bicicletas-imagem-1 {
    
}

.bicicletas-info {
    background: black;
    color: #fff;
}

.bicicletas-paragrafo {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bicicletas-paragrafo p{
    height: 110px;
    max-width: 400px;
    text-align: left;
    font-size: 1.125em;
}

.bicicletas-info ul{
    color: black;
    background: #FEC63E;
    text-align: center;
    font-weight: bold;
    height: 100px;
}

.bicicletas-info ul li {
    border: 3px solid black;
}

/* Orçamento */

.orcamento {
    background: black;
    padding: 40px 0;
    text-align: center;
    color: #fff;
}


/* Separador */
.orcamento h3::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #FEC63E;
    margin: 10px auto 15px auto;
}

.orcamento h3, h4 {
    color: #FEC63E;
}

.orcamento h4 {
    margin: 10px 0;
}

.orcamento ul {
    margin: 0 auto;
}

.orcamento ul li {
    text-align: left;
    width: 420px;
    margin: 0 10px;
}



textarea    {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-color: #FEC63E;
    border-width: 4px;
    resize: none;
    width: 400px;
    height: 120px;
    margin: 10px 0;
}
input   {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-style: solid;
    border-color: #FEC63E;
    border-width: 4px;
    width: 400px;
    height: 20px;
    margin: 10px 0;
}

.monte-background {
    background: #292929;
}

/* Orçamento responsividade tablet */
@media (min-width: 740px) and (max-width: 980px){
    .orcamento {
        padding: 40px 10px;
    }
    .orcamento ul li{
        margin: 0 auto;
    }
}

/* Orçamento responsividade mobile */
@media (max-width:739px){
    .orcamento {
        padding: 20px;
    }
    .orcamento ul li{
        margin: 0 auto;
    }
}

/***************************************** PÁGINA PORTIFÓLIO **************************************/

/* Intro */

.portifolio-intro {
    background: url(../fotos/retro-3.jpg) 0% 75%/cover no-repeat;
    padding: 40px 0;
    text-align: center;
    color: #fff;
}

/* Portifólio Quote */

.portifolio-quote{
    padding: 40px 0;
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
}

.portifolio-quote p:last-child{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

/* Portifólio */

.inicial-portifolio {
    padding: 60px 0;
    text-align: center;
    background: black;
    color: #FEC63E;
}
 
.inicial-portifolio li {
     max-height: 280px;
     overflow: hidden;
}

.portifolio-ponto-1 {
    margin: 20px auto;
    display: inline-block;
    margin: 0 10px;
}

.portifolio-ponto-1::after {
    content: '';
	display: block;
	width: 10px;
	height: 10px;
	background: #FEC63E;
	border-radius: 50%;
}
.portifolio-ponto-2 {
    margin: 20px auto;
    display: inline-block;
    margin: 0 10px;
}

.portifolio-ponto-2::after {
    content: '';
	display: block;
	width: 10px;
	height: 10px;
	background: #212121;
	border-radius: 50%;
}
.portifolio-ponto-3 {
    margin: 20px auto;
    display: inline-block;
    margin: 0 10px;
}

.portifolio-ponto-3::after {
    content: '';
	display: block;
	width: 10px;
	height: 10px;
	background: #212121;
	border-radius: 50%;
}
 

/***************************************** PÁGINA CONTATO **************************************/

/* Intro */

.contato-intro {
    background: url(../fotos/retro-1.jpg) 0% 75%/cover no-repeat;
    padding: 40px 0;
    text-align: center;
    color: #fff;
}


/* Orçamento */

.contato-orcamento {
    padding: 60px 0;
}

.contato-orcamento h3, h4 {
    color: #FEC63E;
}

.contato-orcamento h4 {
    margin: 10px 0;
}

.contato-orcamento ul {
    margin: 0 auto;
}

.contato-orcamento ul li {
    text-align: left;
    width: 420px;
    margin: 0 10px;
    margin: 20px auto;
}

.contato-orcamento a {
    border: 3px solid #FEC63E;
    padding: 5px;
    display: inline-block;
    margin-right: 10px;
}

/* Contato responsividade tablet */
@media (min-width: 740px) and (max-width: 980px){
    .contato-orcamento {
        padding: 40px 10px;
    }
    .contato-orcamento ul li {
        margin: 20px auto;
    }
}

/* Contato responsividade mobile */
@media (max-width:739px){
    .contato-orcamento {
        padding: 20px;
    }
    .contato-orcamento ul li{
        margin: 0 auto;
    }
}